In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv(r'C:\Users\User\Downloads\4.6_orders_products_prior\orders_products_prior.csv', index_col = False)

In [3]:
# defining data set df_ords_prior  
df_ords_prior = pd.read_csv(r'C:\Users\User\Downloads\4.6_orders_products_prior\orders_products_prior.csv', index_col = False)

In [4]:
df = r'C:\Users\User\Downloads\4.3_orders_products\02 Data\Prepared Data\orders_wrangled.csv'

In [5]:
df_ords = pd.read_csv(r'C:\Users\User\Downloads\4.3_orders_products\02 Data\Prepared Data\orders_wrangled.csv')

In [6]:
 df_ords = df_ords.drop(columns=['eval_set'], errors='ignore')

In [7]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_dow               int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [10]:
# Change types for ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['order_dow']=df_ords['order_dow'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [11]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   order_dow               int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 42.4 MB

In [12]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [13]:
# Change types for df_ords_prior data set 

df_ords_prior['product_id'] =df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')

In [14]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [18]:
if isinstance(df, pd.DataFrame) and {'aisle_id', 'department_id', 'prices', 'age', 'n_dependants', 'income'}.issubset(df.columns):
    df['aisle_id'] = pd.to_numeric(df['aisle_id'], errors='coerce').fillna(0).astype('int8')
    df['department_id'] = pd.to_numeric(df['department_id'], errors='coerce').fillna(0).astype('int8')
    df['prices'] = pd.to_numeric(df['prices'], errors='coerce').fillna(0).astype('float16')
    df['age'] = pd.to_numeric(df['age'], errors='coerce').fillna(0).astype('int8')
    df['n_dependants'] = pd.to_numeric(df['n_dependants'], errors='coerce').fillna(0).astype('int8')
    df['income'] = pd.to_numeric(df['income'], errors='coerce').fillna(0).astype('int32')

In [20]:
# Attemp a merge

df_merged_large = df_ords.merge(df_ords_prior, on = ['order_id'], how = 'outer', indicator = True)

In [21]:
df_merged_large.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,112108,4,4,10,9.0,NaN,NaN,NaN,left_only
1,2,202279,3,5,9,8.0,33120.0,1.0,1.0,both
2,2,202279,3,5,9,8.0,28985.0,2.0,1.0,both
3,2,202279,3,5,9,8.0,9327.0,3.0,0.0,both
4,2,202279,3,5,9,8.0,45918.0,4.0,1.0,both

In [22]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [23]:
# Define the base directory
path = r"C:\your\base\directory"

In [24]:
# Ensure the directory exists
output_dir = os.path.join(path, '02 Data', 'Prepared Data')
os.makedirs(output_dir, exist_ok=True)

In [25]:
# Save the DataFrame to a pickle file
df_merged_large.to_pickle(os.path.join(output_dir, 'orders_products_combined.pkl'))